# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard Eclipse files
.project
.classpath
.settings
.checkstyle

# ignore standard IntelliJ IDE files
.idea/
*.iml
*.ipr
*.iws

# ignore standard Vim and Emacs temp files
*.swp
*~

# ignore standard Mac OS X files/dirs
.DS_Store
/differentbin/

# jenv config
.java-version

# Ignore Output from Ignite testing
ignite/ignite-binding-*.log.gz
ignite/ignite-binding.log
ignite/ignite/
